#messages {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

#container {
  margin-left: auto;
  margin-right: auto;
  padding: 2em;
  max-width: 750px;
}

#header {
  text-align: right;
  border-bottom: 3px solid #000;
}