<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <title>Resourcerer</title>
  </head>
  <body>
    <div id="container">
      <div id="header">
        <h1><a href="/">Resourcerer <i class="fa fa-magic"></i></a></h1>
        <h5>Magically simple resource leasing</h5>
        <nav class="navbar navbar-default">
          <ul class="nav navbar-nav navbar">
              <li><a href="{{homelink}}">Home</a></li>
              {% if user %}
              <li><a href="{{myleaseslink}}">My Leases</a></li>
            <li><a href="{{logout}}">Logout</a></li>             
              </ul> 
              <p class="navbar-text navbar-right" style="margin-right: 20px;">{{user}}</p>
            {% else %}
            <li><a href="{{login}}">Login</a></li>
 
          {% endif %}
        </nav>
    </div>
    {% block content %}{% endblock %}
  </div>
</body>
</html>