{% extends 'base.html' %}
{% block content %}
  <h2>Lease Created</h2>
  <p>You have successfully leased <strong>{{resource.title}}</strong>.</p>
  {% if resource.resType == 'Image' %}
    <img src="{{resource.description}}">
  {% else %}
    <p><strong>Description:</strong> {{resource.description}}</p>
  {% endif %}
  <p><strong>Access Details:</strong> {{resource.access}}</p>
  <p>Your lease will expire at: <strong>{{lease.expiration}} UTC</strong></p>
  <br><br>
  <p>Note: All leases are set to expire after 5 minutes for demo purposes.</p>
  <div class="prompt"><a href="{{myleaseslink}}">View my leases</a> | <a href="/">Back to home</a></div>
{% endblock %}